[Unit]
Description=Music IO
After=network.target

[Service]
StandardOutput=journal+console
ExecStart=/usr/bin/musicio

[Install]
WantedBy=pulseaudio.target